<div class="col-md-12 coupon">
  <h3 class="title"><%= show_title offer.title %></h3>
  <span class="label label-danger merchant-label"><%= offer.merchant.name %></span>
  <p class="description"><%= show_description offer.description %></p>
  <p class="controls">
    <a target="_blank"  href="<%= offer.url %>" class="pull-right btn btn-primary">Get Deal</a>
  </p>
</div>